* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: #152850;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.singer-blog {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 350px;
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.singer-name {
  font-family: roboto;
  font-size: 36px;
  color: #ffffff;
}
.paragraph {
  color: #cbd5e1;
  font-size: 24px;
}

.play-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.search-input {
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 8px 20px;
}

.play-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  overflow-y: scroll;
}
